BasedOnStyle : Microsoft
Language : Cpp
Standard : c++17


SortIncludes : false

# 注释不换行
ReflowComments:  false

# false表示所有形参要么都在同一行，要么都各自一行
BinPackParameters:    false
# 总是在返回类型后换行: None, All, TopLevel(顶级函数，不包括在类中的函数)
AlwaysBreakAfterReturnType: None
# 总是在定义返回类型后换行(deprecated)，尽管它不被推荐使用，但依旧应该设置为None
AlwaysBreakAfterDefinitionReturnType: None
# 将函数的返回类型放到它自己的行的penalty,可以不让它再在返回类型后换行
PenaltyReturnTypeOnItsOwnLine:    600000
# 每行字符的限制，0表示没有限制
ColumnLimit: 0

AlignOperands: true
PenaltyBreakAssignment: 999
PenaltyBreakBeforeFirstCallParameter: 0

